bird
bsearch
cflold
countentries
cps
dist/
*.dyn_hi
*.dyn_o
.hdevtools.*
.hdevtools.sock
helloworld
*.hi
*.html
.idea
*.iml
.ipynb_checkpoints/*.ipynb
*.lock
mod35
mylast
*.o
*.pdf
public/
*.pyc
__pycache__
*.pyo
.pytest_cache/
qsort
readfile
.stack-work
*.sublime-workspace
subseqs
.*.swp
tags
threads
*.tix
.vscode
while
wordcount
yahtzee
zipexample
